	/*
	+++++++++++++++++++++++++++++++++
	++		GENERAL
	++++++++++++++++++++++++++++++++
	*/
	/*body {  
			background-repeat:repeat-x;
			background-color:#001330;
			margin:0px;
			padding:0px;
        }
	
	.cionet {background-image:url(http://www.colegiociodemexico.edu.mx/test_new/img/bg.jpg);}

	.header	{background-image:url(http://www.colegiociodemexico.edu.mx/test_new/imagenes/Maquetacion_15.jpg);}

	img { border:0px;}

	#contenedor {width:895px;}
	
	#contenido { height:916px; background-color:#FFF; margin:0px; padding:0px; margin-top: -6px;}
	
	#footer { background-image:url(http://www.colegiociodemexico.edu.mx/test_new/imagenes/Maquetacion_15.jpg); }*/

    /* {font-family:Verdana, Arial, Helvetica, sans-serif;}*/

    body        {  background-image:url(http://colegiociodemexico.edu.mx/test_new/img/bg.jpg);
                    background-repeat:repeat-x;
                    background-color:#001330;
                    margin:0px;
                    padding:0px;
                    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                    /*font:14px/1.6 Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
                    color:#333;*/
                    
                }

    body.admin_adduser {   
                background-image:url();
                background-color:white;
                padding: 2px 15px;
                /*overflow: hidden;*/
                
                }
            
    #contenedor             { width:895px; }
    
    #contenido              { height:916px; background-color:#FFF; margin:0px; padding:0px; margin-top: -6px;}
    #contenido.conocenos    { height:483px; }
    #contenido.kinder       { height:550px; }
    #contenido.primaria     { height:483px; }
    #contenido.cionet       { height:483px; }
    #contenido.contactos    { height:500px; }
    #contenido.admin        { height:100%; font-size: 0.8em;}
    .tab-content .active    { font-size: 1.1em;}
    
    

    #centro                 {padding:25px 15px 15px 35px;}
    
    #footer     { background-image:url(http://colegiociodemexico.edu.mx/test_new/imagenes/Maquetacion_15.jpg); width:895px; height:80px; }
    
    p           { text-align:justify;}
    
    img { border:0px;}

    li a {color:#FFFFFF; text-decoration:none;}

    .active{color:#FF0000; font-size:14px;}

    /*Estilos para los tabs en admin*/

    .tabbable li a {color:#08C; text-decoration:none; font-size:14px;}
    .tabbable li.active{color:#FF0000;}
    .tabbable .tab-content .active{color:#555;}



    .mimagen { vertical-align: top; float: left; margin-right:18px; } 
    
    

	/*
	Agregar a los footers fuera de Inter*/
	#footer .foot {width:895px; height:80px;}

	/*
	++++++++++++++++++++++++++++++++
	++		INTER STYLE
	++++++++++++++++++++++++++++++++
	*/

	#tablas	{padding:20px; }
				
	.container	 {background-color: white;}

	.inicie_sesion {height:300px; padding-top:50px;}

	.row-fluid .span4 p,h2  {padding:0 10px 0 25px;}

	.menusup	{margin:20px 25px;}
	.btn-salir	{margin:20px 25px;}

	/*
	++++++++++++++++++++++++++++++++
	++		FORMULARIO DE CIONET
	++++++++++++++++++++++++++++++++
	*/
        .form_cionet{
            width:240px;
            border: 1px solid #CED5D7;
            border-radius: 6px;
            padding: 45px 45px 20px;
            margin-top:30px;
            background-color: white;
            box-shadow: 0px 5px 10px black, 0 0 0 10px #96FD89 inset;
            height: 200px;
        }

        .form_cionet label{
            display: block;
            margin-left: 20px;
            #margin-left: 0px;
            text-align: left;
            font-weight: bold;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 105%;
        }
        
        .form_cionet div{
            margin-bottom: 15px;
        }
        
        .form_cionet input[type='text'], .form_cionet input[type='password']{
            padding: 7px 6px;
            width: 200px;
            border: 1px solid #CED5D7;
            resize: none;
            box-shadow:0 0 0 3px #EEF5F7;
            margin: 5px 0;
            height: 15px;
        }

        .form_cionet input[type='text']:focus, input[type='password']:focus{
            outline: none;
            box-shadow:0 0 0 2px lightblue;
        }

        .form_cionet input[type='submit']{
            border: 1px solid #CED5D7;
            box-shadow:0 0 0 3px #EEF5F7;
            float: right;
            /*margin-right: 20px;*/
            margin-right: 12px;
            padding: 8px 16px;
            font-weight: bold;
            text-shadow: 1px 1px 0px white;
            background: #e4f1f6;
            background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
            background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
        }
        .form_cionet input[type='submit']:hover{
            background: #edfcff;
            background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
            background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
        }
        .form_cionet input[type='submit']:active{
            background: #cfe6ef;
            background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
            background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
        }

        a.forgot_link {
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 12px;
            padding: 10px 0px 0px 92px;
            display: block;
            text-decoration: none;
            color:black;
            width: 240px;
        }

        a.forgot_link:hover {
            text-decoration: underline;
        }

    /*
    ++++++++++++++++++++++++++++++++
    ++      FORMULARIO DE CONTACTO
    ++++++++++++++++++++++++++++++++
    */
        
        .contacto{
            width:500px;
            height: 300px;
            border: 1px solid #CED5D7;
            border-radius: 6px;
            /*padding: 45px 45px 20px;*/
            padding: 45px 45px 20px;
            margin-top:30px;
            background-color: white;
            box-shadow: 0px 5px 10px black, 0 0 0 10px #96FD89 inset;
        }

        .contacto label{
            display: block;
            margin-left: 20px;
            #margin-left: 0px;
            text-align: left;
            font-weight: bold;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 14px;
            float: left;
        }

        .contacto input[type='text'], .contacto input[type='password']{
            padding: 7px 6px;
            width: 200px;
            border: 1px solid #CED5D7;
            resize: none;
            box-shadow:0 0 0 3px #EEF5F7;
            margin: 5px 25px;
            height: 15px;
            float: right;

        }

        .contacto input[type='text']:focus, input[type='password']:focus{
            outline: none;
            box-shadow:0 0 0 2px lightblue;
        }

        .contacto input[type='submit']{
            border: 1px solid #CED5D7;
            box-shadow:0 0 0 3px #EEF5F7;
            float: right;
            margin: 10px 25px;
            padding: 8px 16px;
            font-weight: bold;
            text-shadow: 1px 1px 0px white;
            background: #e4f1f6;
            background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
            background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
        }
        .contacto input[type='submit']:hover{
            background: #edfcff;
            background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
            background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
        }
        .contacto input[type='submit']:active{
            background: #cfe6ef;
            background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
            background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
        }

        .clearboth  {clear:both;}

    /*
    ++++++++++++++++++++++++++++++++
    ++      ADMIN PAGE
    ++++++++++++++++++++++++++++++++
    */

    #contenedor_admin         { }

    #contenido.admin_adduser  { }


    /*
    ++++++++++++++++++++++++++++++++
    ++      FORMULARIO DE CONTACTO
    ++++++++++++++++++++++++++++++++
    */
        
        .form_admin{

            font-size: .8em;
            width:400px;
            border: 1px solid #CED5D7;
            border-radius: 6px;
            /*padding: 45px 45px 20px;*/
            padding: 20px 20px 70px 0px;
            margin-top:0px;
            background-color: white;
            box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
            /*height: 360px;*/
        }

        .add_alumno{
            /*height: 430px; */
        }

        .edit_user{
            /*height: 320px; */
        }

        .form_admin label{
            display: block;
            margin-left: 25px;
            padding-top: 10px;
            #margin-left: 0px;
            text-align: left;
            font-weight: bold;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-size: 1.05em;
            float: left;
        }
        
        .form_admin input[type='text'], .form_admin input[type='password'], .form_admin textarea {
            padding: 7px 6px;
            width: 200px;
            border: 1px solid #CED5D7;
            resize: none;
            box-shadow:0 0 0 3px #EEF5F7;
            margin: 5px 15px 5px 15px;
            height: 12px;
            float: right;
        }

        .form_admin textarea {
                    height: 150px;
        }

        .form_admin input[type='text']:focus, input[type='password']:focus, .form_admin textarea:focus{
            outline: none;
            box-shadow:0 0 0 2px lightblue;
        }


        .form_admin select {
            padding: 7px 6px;
            width: 215px;
            border: 1px solid #CED5D7;
            resize: none;
            box-shadow:0 0 0 3px #EEF5F7;
            margin: 5px 15px;
            float: right;
        }

        .form_admin select:focus{
            outline: none;
            box-shadow:0 0 0 2px lightblue;
        }

        .form_admin input[type='submit']{
            border: 1px solid #CED5D7;
            box-shadow:0 0 0 3px #EEF5F7;
            float: right;
            margin: 10px 25px;
            padding: 8px 16px;
            font-weight: bold;
            text-shadow: 1px 1px 0px white;
            background: #e4f1f6;
            background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
            background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
        }
        .form_admin input[type='submit']:hover{
            background: #edfcff;
            background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
            background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
        }
        .form_admin input[type='submit']:active{
            background: #cfe6ef;
            background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
            background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
        }

        .clearboth  {clear:both;}